@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
*
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    margin:0px;
    padding:0px; 
    box-sizing:border-box;
    background-color:whitesmoke;
}
.container
{
    display:flex;
    /* flex-wrap: wrap; */
    align-items:center;
    justify-content:center;
    height:100vh;
}
.calc
{
    width:400px;
    background-color:white;
    padding:20px;
    /* border:1px solid rgb(105, 102, 102); */
    border:1px solid black;
    /* box-shadow: 0px 0px 2px 4px rgb(97, 93, 93); */
}
.calc .display
{
    height:80px;
    padding:0px 20px;
    margin:10px;
    /* border:1px solid rgb(105, 102, 102); */
    border:1px solid black;
    font-size:24px;
    line-height:20px;
    /* box-shadow: 0px 0px 2px 4px rgb(97, 93, 93); */
}

.calc .display h2
{
    text-align:right;
    font-family:orbitron;
}

.calc .buttons
{
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-between;
}
.calc .buttons button
{ 
    margin:5px;
    /* padding:25px 30px; */
    font-size:30px;
    font-weight:bold;
    font-family:orbitron;
    height:80px;
    width:80px;
    border:none;
    border:1px solid black;
}
#cal
{
    width:178px;
}
.calc .buttons button:active
{
    box-shadow:0px 0px 4px 2px rgb(255, 238, 0);
    
}
center
{
    font-size:30px;
    font-weight:bold;
    font-family: orbitron;
    margin-top:30px;
    margin-bottom:-30px;
}